{{- heading .Depth}} Entity: {{.Entity.ID}}

{{.Entity.Title}}
{{- if .Entity.Description}}

{{.Entity.Description}}
{{- end}}
{{- if .Entity.Parent}}

**Parent:** {{.Entity.Parent}}
{{- end}}

**Version:** {{.RuleSet.Version}} | **Hash:** {{hashOrNone .RuleSet.Hash}} | **Timestamp:** {{.RuleSet.Timestamp}}
{{- if .Rules}}

{{heading (add .Depth 1)}} Rules
{{range .Rules}}
{{heading (add $.Depth 2)}} {{formatRuleID .}} {{.Body}}

- **Author:** {{.AddedBy}} | **Added:** {{.AddedAt}}
{{- if (gt .Revision 0)}} | **Revision:** {{.Revision}}{{end}}
{{- range (notesFor $.NotesByRule .ID)}}

> **{{.Type}}:** {{.Content}}
{{- end}}
{{end}}
{{- end}}
{{- if .SubEntities}}

{{heading (add .Depth 1)}} Sub-entities
{{range .SubEntities}}
{{renderEntity .}}
{{- end}}
{{- end}}
